.productCard {
  box-shadow: var(--shadow);
  max-width: 400px;
}

.productCard .product-img {
  width: 100%;
  height: 100%;
}

.productCard .product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.productCard .product-detail {
  padding: 20px;
}

.productCard .product-detail .name {
  color: var(--primarycolor);
}

.productCard .product-detail .price {
  color: var(--primarycolor);
}
